/* wine-pink: #951662 */
/* dark-pink: #d81159 */
/* light-pink: #da8ba8 */
/* dark-green: #538135 */
/* light-green: #91a683 */
/* beige: #f9dec9 */
/* pink-lavender: #e0b1cb */
/* dark-grey: #333 */
/* light-grey: #8b8b8b */
/* ghost: #f5f5f5 */
/* purple-navy: #5e548e */
/* purple-mountain: #9f86c0 */
/* blue-note: #003bde */



html {
    scroll-behavior: smooth;
}

.container {
    max-width: 900px;
}

body {
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin-top: 60px;
}

/* h4 and h5 are partially used for icons */

h1, h2, h3 {
    font-family: 'Merriweather', sans-serif;
}

h1, h2 {
    color: #5e548e;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 600;
    /* text-transform: uppercase; */
}

h3 {
    font-weight: 400;
    margin-top: 12px;
}

h4 {
    margin: 40px 0;
    font-weight: 400;
}

h6 {
    font-size: 16px;
    color: #8b8b8b;
    text-transform: uppercase;
    /* margin-bottom: 0px; */
}

strong {
    letter-spacing: -0.2px;
}

img {
    width: 100%;
}

ul {
    padding-left: 4rem;
}

li {
    padding-left: 12px;
}

ol > li::marker {
    font-weight: bold;
}




nav {
    border-bottom: 1px solid #5e548e;
    padding-bottom: 20px;
}

.navbar-links {
    float: right;
}

.navbar-link-active, .navbar-link-inactive {
    font-weight: 500;
    margin-left: 32px;
    text-decoration: none;
}

.navbar-link-active, .navbar-link-active:hover {
    color: #9f86c0;
    cursor: default;
    opacity: 0.7;
}

.navbar-link-inactive {
    color: #5e548e;
}

.navbar-link-inactive:hover {
    color: #9f86c0;
}





#footer {
    background-color: #5e548e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

@media (max-width: 768px) {
    #footer {
        padding: 16px;
        text-align: center;
    }
}

#footer h4 {
    margin: 0;
    float: left;
}

@media (max-width: 768px) {
    #footer h4 {
        float: none;
    }
}

#footer h6 {
    color: #ffffff;
    text-transform: lowercase;
    line-height: 48px;
    margin: 0;
    float: right;
}

@media (max-width: 768px) {
    #footer h6 {
        float: none;
    }
}

#footer a {
    color: #f5f5f5;
}





.icon-links a {
    margin: 0 24px 0 0;
}

.icon-links > :last-child {
    margin-right: 0;
}





.tagline {
    margin: 60px 0;
}

.tagline h1 {
    margin-top: 8px;
    margin-bottom: 0px;
}

.tagline h4 {
    margin: 12px 0 20px;
}

.tagline h6 {
    margin-top: 20px;
}

.tagline p {
    margin-bottom: 0;
}





.project-item {
    margin-bottom: 40px;
    box-shadow: 0px 4px 16px #8b8b8b;
    transition: transform .3s;
}

.soon {
    box-shadow: 0px 1px 4px #8b8b8b;
}

.sample-group {
    display: flex;
    justify-content: space-between;
}

.sample-group .project-item {
    width: 48%;
}

.project-item h1 {
    color: #333;
}

.project-item h5 {
    color: #5e548e;
}

.project-item:hover {
    transform: scale(1.03);
    -ms-transform: scale(1.03); /* IE 9 */
    -webkit-transform: scale(1.03); /* Safari 3-8 */
    -webkit-filter: none;
    filter: none;
    background-color: #fff;
}

.project-item:hover .project-desc-underline {
    text-decoration: underline;
}

.soon:hover {
    transform: none;
    -ms-transform: none; /* IE 9 */
    -webkit-transform: none; /* Safari 3-8 */
    -webkit-filter: grayscale(1); /* Safari 6.0 - 9.0 */
    filter: grayscale(1);
    background-color: inherit;
}

.soon:hover h5 {
    text-decoration: none;
}

.project-link {
    height: 280px;
    text-decoration: none;
    display: flex;
    -webkit-filter: grayscale(1); /* Safari 6.0 - 9.0 */
    filter: grayscale(1);
}

/* @media (max-width: 768px) { */
@media (max-width: 810px) {
    .project-link {
        height: 100%;
        display: inline-block;
    }
}

.project-link:hover {
    color: #333;
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
    opacity: 1;
}

.project-link h1 {
    font-size: 1.8em;
}

.project-link h5 {
    font-size: 1.2em;
}

.project-link h6 {
    font-size: 0.8em;
}

.project-desc {
    width: 60%;
    margin: 40px;
}

/* @media (max-width: 768px) { */
@media (max-width: 810px) {
    .project-desc {
        height: 100%;
        width: auto;
        margin: 40px;
    }
}

.sample-group .project-desc {
    width: 100%;
}

.project-desc-wrapper {
    height: 100%;
    position: relative;
}

.project-desc-bottom {
    position: absolute;
    bottom: 0px;
}

/* @media (max-width: 768px) { */
@media (max-width: 810px) {
    .project-desc-bottom {
        position: inherit;
    }
}

.project-desc-bottom h5 {
    margin-bottom: 0px;
}

.project-desc-bottom .unstyle-link {
    text-decoration: none;
}

.project-img {
    width: 40%;
    margin: 20px 40px;
    display: flex;
    align-items: center;
}

/* @media (max-width: 768px) { */
@media (max-width: 810px) {
    .project-img {
        width: auto;
        margin: 40px;
    }
}





.project-perspective {
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-bottom: 1px solid #5e548e;
}



/* .flex {
    display: flex;
    align-items: stretch;
}

@media (max-width: 600px) {
    .flex {
        display: inline-block;
    }
}

.flex > * {
    margin: 0 24px;
    overflow: hidden;
    flex-basis: 0;
    flex-grow: 1;
}

@media (max-width: 600px) {
    .flex > * {
        margin: 0px;
    }
}

.flex > :first-child {
    margin-left: 0;
}

.flex > :last-child {
    margin-right: 0;
} */





.bodyWhite {
    padding-top: -40px;
    background-color: #ffffff;
}

.bodyWhite h2 {
    margin-top: 60px;
}

.bodyWhite h5 {
    font-weight: 500;
}

.bodyWhite .two-thirds > :first-child {
    margin-top: 100px;
}

@media (max-width: 768px) {
    .bodyWhite .two-thirds > :first-child {
        margin-top: 0;
    }
}

.bodyWhite img {
    margin: 40px 0 40px 0;
}

.bodyWhite .collection {
    margin: -40px 0 -40px 0;
}





.indented-item {
    border-left: 6px solid #5e548e;
    padding-left: 20px;
    margin-left: 20px;
}

.indented-item p {
    padding-left: 20px;
    font-family: 'Merriweather', sans-serif;
    font-weight: 300;
    font-size: 18px;
}

.indented-item strong {
    font-weight: 600;
}

.caption {
    font-size: 15px;
    font-style: italic;
    text-align: center;
    margin: -20px 0px 40px 0px;
}

.highlight {
    background: linear-gradient(
        180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 237, 34, 0.6) 0%
    );
}

/* .highlight-under {
    background: linear-gradient(
        180deg, rgba(255, 255, 255, 0) 70%, #9f86c0 85%
    );
    padding: 8px 20px;
    margin-bottom: 40px;
} */

.icon-top {
    margin: 80px 0 40px 0;
    text-align: center;
    opacity: 1;
}





video {
    width: 100%;
    margin-top: 100px;
}

.gif {
    margin-bottom: 20px;
}

.shadow {
    filter: drop-shadow(4px 4px 2px #c4c4b5);
}

.override {
    margin-top: 0px;
}

/* .emphasis > .list > * {
    font-weight: lighter;
} */

.quote {
    font-family: Revalia;
    font-size: 30px;
    line-height: 0px;
}

/* .list > * {
    margin-bottom: 20px;
} */

/* .list img {
    margin-top: -8px;
}

.list > :last-child {
    margin-bottom: 0;
} */

.code {
    font-family: 'Merriweather', sans-serif;
    color: #003bde;
}





.trigger {
    cursor: pointer;
}

.modal {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    display: none;
}

.modal img {
    position: absolute;
    width: auto;
    max-width: 90%;
    max-height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -56%);
}

.close {
    float: right;
    font-size: 32px;
    line-height: 32px;
    width: 32px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

body.modal-open {
    overflow: hidden;
}

/* .about .tagline {
    margin-bottom: 0;   
} */

.about p {
    margin-bottom: 1em;
}

.about ul {
    padding-left: 0rem;
}

.about img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}